<div class="welcome">
  <p class="intro first">{{ timer }}</p>
  <div class="divider"></div>
  	<p ng-show='customer.name' class="intro first"><span class='salmon'>New Customer:&nbsp;&nbsp;</span>{{ customer.name }}</p>
    <p  ng-show='product.title' class="intro"><span class='salmon'>Location:&nbsp;&nbsp;</span> Fitting Room 1</p>
    <p  ng-show='product.title' class="intro"><span class='salmon'>Item:&nbsp;&nbsp;</span> {{product.title}}</p>
  <div class="divider"></div>

  <p ng-show='product.isLiked' class="intro salmon">{{customer.name}} likes this item</p>
  <p ng-show='product.isDisliked' class="intro salmon">{{customer.name}} does not like this item</p>
  <p ng-show='product.isDisliked' class="intro">send recommendation</p>
  <!-- <p class="intro last">your retail associate is  in real-time</p> -->
  <!-- <input class="name" ng-model='customer.name' placeholder='enter your name'> -->
  <!-- <button class='btn' ng-click='setName()'> -->
    <!-- <p>Submit</p> -->
  <!-- </button> -->
</div>